<div class="dashboard">
  <h2>Dashboard</h2>
  <div class="cards">
    <div class="info-card">
      <h3>Doctors</h3>
      <p>{{ totalDoctors }}</p>
    </div>
    <div class="info-card">
      <h3>Patients</h3>
      <p>{{ totalPatients }}</p>
    </div>
    <div class="info-card">
      <h3>Appointments</h3>
      <p>{{ totalAppointments }}</p>
    </div>
  </div>
  <div class="charts">
    <div class="chart-card">
      <h3>Doctor Availability</h3>
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="chartData1"
        [labels]="chartLabels1"
      ></canvas>
    </div>
    <div class="chart-card">
      <h3>Appointments by Patient</h3>
      <canvas
        baseChart
        [type]="'bar'"
        [datasets]="chartData2"
        [labels]="chartLabels2"
      ></canvas>
    </div>
  </div>
</div>
